{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": ["error", "as-needed"],
    "no-unused-vars": "off",
    "no-duplicate-imports": "error",
    "no-console": "error",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
